/* ________ HERO __________ */
@media (max-width:801px) {
    #hero {
        padding: 2rem 1.5rem;
    }
    
    #hero img {
        display: none;
    }
}

@media (min-width:801px) {
    #hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 12rem;
    }
 
    #hero-img {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        
        overflow: visible;
        position: relative;
        
        background-color: white;
        border-radius: 50%;
        border: 10px solid #f41668;
        width: 20%;

        margin-left: 3rem;
    }
    
    #hero img {
        object-fit: contain;
        width: 100%;
    }
}

#hero {
    background-image: url(./imgs/fundo.webp);
    background-size: contain;
    background-position: center;
}

#hero-text {
    background-color: #e18795;
    padding: 1.8rem;
}

#hero h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: .4rem 0 .9rem 0;
}

#hero h2 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
}

#hero p {
    line-height: 1.3rem;
}

#hero button {
    margin-bottom: 0;
    background-color: #e18795;
    border: 2px solid black;
}

#hero button:hover {
    background-color: black;
    color: white;
}

/* ________ PRODUTOS __________ */
@media (max-width:801px) {
    
}

@media (min-width:801px) {
    #products {
        padding: 3rem 12rem;
        
    }

    #products-list li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    .reverso {
        order: -1;
        text-align: right;
    }
}

#products-list ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#products-list li {
    margin-bottom: 2rem;
}

#products-list img {
    width: 100%;
}

#products-list h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0 .3rem 0;
}

#products-list p {
    line-height: 1.3rem;
}

/* ________ PERGUNTAS FREQUENTES __________ */
@media (min-width:801px) {
    #faq {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    #box_perguntas {
        width: 50%;
    }
}

#faq {
    background-color: #eceeef;    
}

#box_perguntas details {
    border: 2px solid #a5bac5;
    border-radius: .6rem;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem 0;
}

#box_perguntas details[open] summary {
    border-bottom: 1px solid;
    border-color: #a5bac5;
    padding-bottom: .6rem;
}

#box_perguntas p {
    line-height: 1.3rem;
    margin-top: .6rem;
}

/* ________ DEPOIMENTOS __________ */
@media (max-width:801px) {
    #depoimentos {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    
        padding-bottom: 2rem;
    }

    #box_depoimento img {
        width: 18%;
    }
}

@media (min-width:801px) {
    #depos {
        padding: 3rem 5rem;
    }

    #depoimentos {
        display: flex;
        gap: 3rem;
    
        padding-bottom: 2rem;
    }

    #box_depoimento {
        width: 40%;
    }

    #box_depoimento img {
        width: 40%;
        max-width: 100px;
    }
}

#box_depoimento {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
    margin: 0 1rem;
    text-align: center;
}

#box_depoimento img {
    /* width: 18%; */
    border-radius: 100%;
    margin-bottom: .3rem;
}

#box_depoimento h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

#box_depoimento span {
    color: black;
    font-size: .75rem;
    font-weight: 400;
}

#box_depoimento p {
    line-height: 1.4rem;
}
